<!DOCTYPE html>
<html>
    <head>
        <title>Judzhin Miles - Applied Developer (MSBios)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="author" content="Judzhin Miles (Евгеий Шикор)"/>
        <meta name="reply-to" content="info@msbios.com"/> 
        <meta name="copyright" content="2008—2013 Judzhin Miles" />
        <meta name="keywords" content="Judzhin, Miles, MSBios, Applied, Developer, C#, .NET, CLR, CTS, CLS, ASP.NET, Visual Studio, XML, JavaScript, JS, SQL, PHP, MySQL, HTML, CSS, BluePrint, 960gs, jQuery, JSON, Ajax, CodeIgniter, ZendFramework, Kohana, Kendo, ExtJS" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/screen.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/avgrund.css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold"> 
        <script type="text/javascript" src="assets/javascripts/jquery.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.avgrund.js"></script>
        <script type="text/javascript" src="assets/javascripts/jquery.global.js"></script>

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    </head>
    <body>

        <div class="container">
            <div id="welcome">
                <div class="span-11 colborder" style="text-align: right; border-right-style: dotted;">
                    <div id="author" class="hide">
                        <h1>Judzhin<br />Miles</h1>
                        <p>info[dog]msbios.com</p>
                    </div>
                </div>
                <div class="span-12 last">
                    <div id="profession" class="hide">
                        <h1>Applied<br />Developer</h1>

                        <div id="social">
                            <a target="_blank" id="facebook" href="https://www.facebook.com/judzhin.miles">&nbsp;</a>
                            <a target="_blank" id="google" href="https://plus.google.com/u/0/117679433393771742117/posts">&nbsp;</a>
                            <a target="_blank" id="twitter" href="https://twitter.com/Judzhin_Miles"><img src="assets/images/twitter_dark.png" /></a>
                            <a target="_blank" id="myspace" href="https://new.myspace.com/judzhin.miles"><img src="assets/images/myspace_dark.png" /></a>
                            <a target="_blank" id="in" href="http://www.linkedin.com/profile/view?id=157542716"><img src="assets/images/in_dark.png" /></a>
                            <a target="_blank" id="skype" href="skype:judzhinm" ><img src="assets/images/skype_dark.png" /></a>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>

        <div id="copyright">&copy; 2008—2013 Judzhin Miles. MSBios. All rights reserved.</div>

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33134958-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </body>
</html>
